<div class="flex">

    <!-- Sidebar -->
    <div class="bg-white w-1/5 p-4 hidden lg:block shadow-lg h-screen">
  
 <!-- Title sidebar -->
<div class="mb-6 text-center grid justify-start  border-b border-gray-300 pb-1">
    <h1 class="text-2xl font-bold text-blue-900 tracking-wide uppercase">
      LEONI
    </h1>
    <p class="text-xs text-gray-500 tracking-widest">
      Innovating Solutions
    </p>
  </div>
  
  
  
      <!-- Sidebar -->
      <div class=" border-gray-200 mb-4  ">
        <ul class="ml-6 space-y-6 mb-6 ">
          <li *ngFor="let menu of sidebarItems" class="relative flex items-center gap-2">
            <lucide-icon [name]="menu.icon" class="w-5 h-5 text-gray-600"></lucide-icon>
            <a [routerLink]="menu.link" (click)="activeItems(menu.name)" [ngClass]="{'underline text-blue-900' : menu.name===itemActive}" class="text-black font-semibold text-sm hover:underline cursor-pointer" >
              {{ menu.name }}
            </a>
            
          </li>
  
        </ul>
        
      </div>
  
    </div>
  
    <!-- Main Content -->
    <div class="w-full h-screen flex flex-col overflow-auto">
  
      <!-- Navbar  -->
      <div class="bg-white flex justify-end max-md:justify-between items-center px-6 py-3 border-b border-gray-300">
        <a (click)="toggleIconHamburger()" class="hidden max-md:block "><svg xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg></a>

  <a  class="relative  cursor-pointer mr-2"  routerLink="/users/notifications/equipementsNotifications">       
<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 64 64" fill="none">
  <!-- Câble en boucle -->
  <path d="M16 32c0-8.837 7.163-16 16-16s16 7.163 16 16-7.163 16-16 16-16-7.163-16-16z" stroke="#333" stroke-width="4"/>
  
  <!-- Pinces -->
  <path d="M16 32l-6-6m6 6l-6 6" stroke="#E53935" stroke-width="3" stroke-linecap="round"/>
  <path d="M48 32l6-6m-6 6l6 6" stroke="#E53935" stroke-width="3" stroke-linecap="round"/>
  
  <!-- Point de connexion -->
  <circle cx="32" cy="32" r="3" fill="#333"/>
</svg>


     <span *ngIf="notificationNomberEquip > 0"
        class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
    {{ notificationNomberEquip }}
  </span>
</a>
   
          <!-- Icône pour accéder à l'importation de l'Excel -->
<a   class="relative  cursor-pointer"  routerLink="/users/importExcel">
  <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M12 4v16m8-8H4" />
  </svg>
</a>

          <!-- Icone de Notification -->
<a routerLink="/users/notifications" class="relative mx-4 cursor-pointer" *ngIf="role === 'ADMIN'">
  <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
  </svg>

  <!-- Badge de nombre -->
  <span *ngIf="notificationNomber > 0"
        class="absolute -top-2 -right-2 bg-red-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
    {{ notificationNomber }}
  </span>
</a>



        <a (click)="toggleIconUser()"  class="relative "><img src="https://portkennedyps.wa.edu.au/wp-content/uploads/2017/06/user-icon-male.jpg"
            class="w-6 h-6 text-blue-700 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           </a>
  
        <div *ngIf="isOpenuser" class="absolute bg-white shadow rounded w-40 right-10 top-12 p-2 grid gap-2 z-10">
<div class="hover:bg-blue-50 p-2 rounded">
  <!-- Vérification si user est défini, puis afficher son nom d'utilisateur -->
  <h1 class="text-sm text-gray-800 font-medium cursor-pointer hover:underline" *ngIf="User?.username" routerLink="/users/updateprofil">{{ User?.username }}</h1>
</div>


          
          <div class="hover:bg-red-100 border-t border-gray-300 p-2 rounded text-red-500 cursor-pointer" >
            <h1  class="text-md text-sm font-medium  " (click)="Logout()">Déconnexion</h1>
          </div>
        </div>
  
       
      </div>
      
  
      
      <!-- Content -->
      <div class="flex-1 px-6 py-4">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  </div>
